/* Site-wide look-and-feel */

:root {
  --site-dark-blue: rgb(0, 0, 150);
  --site-light-blue: rgb(0, 0, 200);
}

body {
  margin: 5% 10%;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

main {
  padding: 10px;
}

p,
ul {
  line-height: 1.5;
  font-size: 12pt;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
}

hr {
  color: var(--site-light-blue);
}

h1 {
  color: var(--site-dark-blue);
  margin-top: 0px;
}

/* End Site-wide look-and-feel */

/* Header formatting */

.logo_box {
  width: 90%;
  background-color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav a {
  margin-top: 5px;
  border: 2px solid lightgrey;
  border-radius: 5%;
  text-decoration: none;
  padding: 5px;
  font-size: large;
  color: black;
  background-color: #EEEEEE;
}

nav .active {
  background-color: lightgrey;
  text-decoration: bold;
}

nav a:hover {
  background-color: white;
}

.nav_normal {
  margin: auto;
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav_box {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  background-color: white;
}

header {
  text-align: center;
}

/* End Header Formatting */

/* Footer Formatting */

.footer_logo {
  margin-top: 10px;
  margin-bottom: 15px;
  max-height: 50px;
}

footer {
  text-align: center;
  font-size: 12pt;
}

.footer_text {
  font-size: 10pt;
  margin: 5px;
}

/* End Footer Formatting */

/* Page-specifics: if this gets too large, can be split into separate stylesheets */

/* Home */

.home_main {
  display: flex;
}

.home_content {
  width: 75%;
}

#full_available_list {
  display: none;
}

#avail_gallery_outer {
  text-decoration: none;
  padding: 5px;
  color: black;
}

.mobile_home_gallery_title {
  text-decoration: none;
  padding: 5px;
  color: var(--site-dark-blue);
  font-weight: lighter;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#mobile_home_gallery_text {
  font-size: 9pt;
}

.mobile_large_image_wrapper {
  grid-column: 1 / 3;
}

#mobile_home_gallery_display {
  float: left;
  max-width: 40vw;
  max-height: 100px;
}

#avail_gallery_outer {
  margin-bottom: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.home_header {
  font-style: italic;
  font-size: 16pt;
}

/* Donate */

.donate_link {
  margin-left: 20%;
}

/* Individual horse pages */

.listing_thumb {
  max-width: 20%;
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;

}

#image_gallery_full {
  display: none;
}

.gallery_dot {
  width: 10px;
  height: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: lightgray;
  border: 1px solid darkgray;
}

#gallery_dot_progress {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.large_image_wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 10px;
}

.prev_image,
.next_image {
  max-height: 150px;
  opacity: 100%;
  font-size: 40px;
  padding-top: 40px;
  user-select: none;
}

.prev_image:hover,
.next_image:hover {
  opacity: 40%;
}

#full_size_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.jog_video {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

/* Available/Placed horses list pages */

.available_snippet_div {
  margin-top: 25px;
}

.available_snippet_inner_div {
  display: flex;
  margin-top: 5px;
}

.snippet_thumb {
  height: 100px;
  margin-right: 20px;
}

.available_title {
  text-decoration: none;
  font-size: large;
  color: rgb(120, 120, 120);
}

/* Mobile (or tiny desktop) */


.nav_box_mobile {
  display: none;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.hamburger {
  width: 100%;
  height: 100%;
  z-index: 5;
}

.hamburger div {
  width: 100%;
  height: 7px;
  border-radius: 3px;
  background-color: var(--site-dark-blue);
  margin-top: 8px;
  transition: all 0.3s ease-in-out;
}

.ham_nav {
  width: 50%;
  height: 100%;
  background-color: lightgray;
  transition: all 0.3s ease-in-out;
  display: none;
}

#toggle {
  display: none;
}

#toggle:checked+.hamburger+.ham_nav {
  display: contents;
}

.nav_mobile {
  padding-left: 15%;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
  position: absolute;
  z-index: 2;
}

.nav_mobile_inner {
  background-color: #DDDDDD;
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
}

.nav_mobile_inner a {
  margin-top: 0px;
}

@media screen and (max-width: 500px) {
  .nav_box {
    display: none;
  }

  .recent_adds {
    display: none;
  }

  .home_content {
    width: 100%;
  }

  .nav_box_mobile {
    display: grid;
    grid-template-columns: 1fr 6fr;
  }

  h1 {
    font-size: 18pt;
  }

  .home_header {
    font-size: 14pt;
  }

  @media screen and (max-width: 450px) {

    .prev_image,
    .next_image {
      font-size: 30px;
    }
  }

  /**
Animations
**/
  #toggle:checked+.hamburger .htop {
    transform: rotate(-45deg);
    margin-top: 25px;
  }

  #toggle:checked+.hamburger .hbottom {
    opacity: 0;
  }

  #toggle:checked+.hamburger .hmid {
    transform: rotate(45deg);
    margin-top: -7px;
  }